.Folder {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  box-shadow: 2px 2px 15px 5px rgba(0, 0, 0, 0.1);
  text-decoration: none;
}

.Folder span {
  font-size: calc(8px + 1.2vw);
  font-weight: bold;
  display: -webkit-box;
  font-size: calc(10px + 0.6vw);
  word-wrap: break-word;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Folder hr {
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 100%;
}

span.Count {
  font-size: calc(10px + 0.8vw);
  box-shadow: none;
  background-color: unset;
}

.Folder:nth-child(9n + 1) {
  background-image: linear-gradient(-135deg, #faea6f 0%, #e7c34e 100%);
}
.Folder:nth-child(9n + 2) { 
  background-image: linear-gradient(-135deg, #ffc579 0%, #ffae43 100%);
}
.Folder:nth-child(9n + 3) {
  background-image: linear-gradient(-135deg, #fa8884 0%, #fc554f 100%);
}
.Folder:nth-child(9n + 4) {
  background-image: linear-gradient(-135deg, #ff4949 0%, #ca332e 100%);
}
.Folder:nth-child(9n + 5) {
  background-image: linear-gradient(-135deg, #a3ff47 0%, rgb(106, 209, 32) 100%);
}
.Folder:nth-child(9n + 6) {
  background-image: linear-gradient(-135deg, #84d633 0%, rgb(87, 177, 24) 100%);
}
.Folder:nth-child(9n + 7) {
  background-image: linear-gradient(-135deg, #6fe6b4 0%, rgb(57, 194, 218) 100%);
}
.Folder:nth-child(9n + 8) {
  background-image: linear-gradient(-135deg, #78d3ee 0%, rgb(69, 171, 226) 100%);
}
.Folder:nth-child(9n + 9) {
  background-image: linear-gradient(-135deg, #59a8e9 0%, rgb(40, 112, 206) 100%);
}