body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: #303346;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all 0s ease;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  transition: all .5s ease;
  box-sizing: border-box;
  user-select: none;
}

div[id="root"] {
  width: 100%;
  height: 100%;
}
